InversionTI
MotivadoresdeNegocio
Segmentarydepurarclientes
Analisisdemarketing
Mejorarretenciondeclientes
Mejorarconocimientodelcliente
Buscartendenciasyrelaciones
SistemasEmpresariales
CRM_CustomerRelationshipManagement
CRM_Modulomarketing
CRM_Modulodeclientes
ModelodeImplementacion
Implementacionporfases
Financiacion
RecursosPropios
