InversionTI
MotivadoresdeNegocio
Implementarcontrolessobreprocesosfinancieros
Manejodeinventarios
Manejodealmacen
Integracionconproveedores
Predecirdisponibilidades
SistemasEmpresariales
SCM_Sistemadegestiondeabastecimiento
NuevovsExistente
Adaptarsistemaexistente
Tercerizacion
Subcontratargerenciadelproyectodeimplementacion
